<a href="https://colab.research.google.com/github/Mumo-vicky/BlueCar-Company/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_07_Vicky_Mutua_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [121]:
df = pd.read_csv('Autolib_dataset (2).csv')
df.columns = map(str.lower, df.columns)
df

                                 address  cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [123]:
df.dtypes

address                object
cars                    int64
bluecar counter         int64
utilib counter          int64
utilib 1.4 counter      int64
charge slots            int64
charging status        object
city                   object
displayed comment      object
id                     object
kind                   object
geo point              object
postal code             int64
public name            object
rental status          object
scheduled at           object
slots                   int64
station type           object
status                 object
subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [131]:
df.isnull().sum()

address                   0
bluecar counter           0
utilib counter            0
utilib 1.4 counter        0
charge slots              0
charging status           0
city                      0
id                        0
kind                      0
postal code               0
public name               0
rental status             0
scheduled at           4953
slots                     0
station type              0
status                    0
subscription status       0
datetime                  0
dtype: int64

In [122]:
df = df.drop_duplicates()

**Creating a new column for datetime and dropping the non-important columns**

In [124]:
df = df.astype({'year': 'str'})
df = df.astype({'month': 'str'})
df = df.astype({'day': 'str'})
df = df.astype({'hour': 'str'})
df = df.astype({'minute': 'str'})
df['datetime'] = df.year + "-" + df.month + "-" + df.day + "-" + df.hour + "-" + df.minute
df['datetime'] = pd.to_datetime(df['datetime'], format="%Y-%m-%d-%H-%M")
df = df.drop(['year','month','day','hour','minute','geo point','displayed comment','cars'], axis = 1)
df["city"] = df["city"].str.lower()
df

                                 address  ...            datetime
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 18 columns]

**Creating a new dataframe for paris city**

In [142]:
#declaring the dataframe's source, sorting the values in datetime descending order and creating a new index for the dataframe
paris = df.loc[df['city']=='paris']
paris = paris.sort_values(by=['datetime']).reset_index()
paris = paris.drop(['index'],axis=1)

paris

                                  address  ...            datetime
0        112 Rue Monge BÃ¢timent Lieu-dit  ... 2018-04-01 00:00:00
1                19 place de la Madeleine  ... 2018-04-01 00:02:00
2               44 rue SÃ©bastien Mercier  ... 2018-04-01 00:02:00
3                         2 Avenue Mozart  ... 2018-04-01 00:03:00
4                2 rue Neuve Saint-Pierre  ... 2018-04-01 00:04:00
...                                   ...  ...                 ...
2811                   19 rue BrÃ©montier  ... 2018-04-09 23:42:00
2812                       11 rue Gerbert  ... 2018-04-09 23:48:00
2813                    82 rue de CrimÃ©e  ... 2018-04-09 23:56:00
2814    31 Bis Rue du Faubourg Montmartre  ... 2018-04-09 23:58:00
2815  21 bis rue Notre-Dame des Victoires  ... 2018-04-09 23:58:00

[2816 rows x 18 columns]

In [243]:
hour1 = paris.loc[df['']=='paris']

          address  bluecar counter  ...  subscription status  datetime
datetime                            ...
0             110              110  ...                  110       110
1             105              105  ...                  105       105
2             123              123  ...                  123       123
3             125              125  ...                  125       125
4             112              112  ...                  112       112
5             117              117  ...                  117       117
6             124              124  ...                  124       124
7             121              121  ...                  121       121
8             128              128  ...                  128       128
9             122              122  ...                  122       122
10            121              121  ...                  121       121
11            107              107  ...                  107       107
12            120              120  ...                  120       120
13            114              114  ...                  114       114
14            107              107  ...                  107       107
15            111              111  ...                  111       111
16            128              128  ...                  128       128
17            116              116  ...                  116       116
18            111              111  ...                  111       111
19            114              114  ...                  114       114
20            111              111  ...                  111       111
21            147              147  ...                  147       147
22            106              106  ...                  106       106
23            116              116  ...                  116       116

[24 rows x 18 columns]

In [232]:
out = paris

                                                       data  City
datetime
0         [address, bluecar counter, utilib counter, uti...   NaN
1         [address, bluecar counter, utilib counter, uti...   NaN
2         [address, bluecar counter, utilib counter, uti...   NaN
3         [address, bluecar counter, utilib counter, uti...   NaN
4         [address, bluecar counter, utilib counter, uti...   NaN
5         [address, bluecar counter, utilib counter, uti...   NaN
6         [address, bluecar counter, utilib counter, uti...   NaN
7         [address, bluecar counter, utilib counter, uti...   NaN
8         [address, bluecar counter, utilib counter, uti...   NaN
9         [address, bluecar counter, utilib counter, uti...   NaN
10        [address, bluecar counter, utilib counter, uti...   NaN
11        [address, bluecar counter, utilib counter, uti...   NaN
12        [address, bluecar counter, utilib counter, uti...   NaN
13        [address, bluecar counter, utilib counter, uti...   NaN
14        [address, bluecar counter, utilib counter, uti...   NaN
15        [address, bluecar counter, utilib counter, uti...   NaN
16        [address, bluecar counter, utilib counter, uti...   NaN
17        [address, bluecar counter, utilib counter, uti...   NaN
18        [address, bluecar counter, utilib counter, uti...   NaN
19        [address, bluecar counter, utilib counter, uti...   NaN
20        [address, bluecar counter, utilib counter, uti...   NaN
21        [address, bluecar counter, utilib counter, uti...   NaN
22        [address, bluecar counter, utilib counter, uti...   NaN
23        [address, bluecar counter, utilib counter, uti...   NaN