<a href="https://colab.research.google.com/github/Mumo-vicky/BlueCar-Company/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_07_Vicky_Mutua_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Analysis**

**Importing the libraries**

In [1]:
#importing the pandas and numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Loading the dataset**

In [ ]:
#loading our file to our environment
#changing the column names to lowercase
df = pd.read_csv('Autolib_dataset (2).csv')
df.columns = map(str.lower, df.columns)
df

**Cleaning The dataset**

In [123]:
#checking the types of data in our columns
df.dtypes

address                object
cars                    int64
bluecar counter         int64
utilib counter          int64
utilib 1.4 counter      int64
charge slots            int64
charging status        object
city                   object
displayed comment      object
id                     object
kind                   object
geo point              object
postal code             int64
public name            object
rental status          object
scheduled at           object
slots                   int64
station type           object
status                 object
subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [131]:
#chacking for null values in our dataset
df.isnull().sum()

address                   0
bluecar counter           0
utilib counter            0
utilib 1.4 counter        0
charge slots              0
charging status           0
city                      0
id                        0
kind                      0
postal code               0
public name               0
rental status             0
scheduled at           4953
slots                     0
station type              0
status                    0
subscription status       0
datetime                  0
dtype: int64

In [245]:
#checking for duplicates in our data
df.duplicated().sum()

0

In [124]:
#changing the datatypes for different columns for use
#creating a new datetime column for comparison of time
#converting the datetime column to datetime datatype
#dropping the columns we don't require for our analysis
#changing the values for the city column to lowercase characters
df = df.astype({'year': 'str'})
df = df.astype({'month': 'str'})
df = df.astype({'day': 'str'})
df = df.astype({'hour': 'str'})
df = df.astype({'minute': 'str'})
df['datetime'] = df.year + "-" + df.month + "-" + df.day + "-" + df.hour + "-" + df.minute
df['datetime'] = pd.to_datetime(df['datetime'], format="%Y-%m-%d-%H-%M")
df = df.drop(['year','month','day','hour','minute','geo point','displayed comment','cars'], axis = 1)
df["city"] = df["city"].str.lower()
df

                                 address  ...            datetime
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 18 columns]

**Creating a new dataframe for paris city**

In [297]:
#declaring the dataframe's source
#sorting the values in datetime descending order and creating a new index for the dataframe
paris = df.loc[df['city']=='paris']
paris = paris.sort_values(by=['datetime']).reset_index()
paris = paris.drop(['index'],axis=1)
paris

                                  address  ...            datetime
0        112 Rue Monge BÃ¢timent Lieu-dit  ... 2018-04-01 00:00:00
1                19 place de la Madeleine  ... 2018-04-01 00:02:00
2               44 rue SÃ©bastien Mercier  ... 2018-04-01 00:02:00
3                         2 Avenue Mozart  ... 2018-04-01 00:03:00
4                2 rue Neuve Saint-Pierre  ... 2018-04-01 00:04:00
...                                   ...  ...                 ...
2811                   19 rue BrÃ©montier  ... 2018-04-09 23:42:00
2812                       11 rue Gerbert  ... 2018-04-09 23:48:00
2813                    82 rue de CrimÃ©e  ... 2018-04-09 23:56:00
2814    31 Bis Rue du Faubourg Montmartre  ... 2018-04-09 23:58:00
2815  21 bis rue Notre-Dame des Victoires  ... 2018-04-09 23:58:00

[2816 rows x 18 columns]

In [298]:
#setting the datetime as the index
paris = paris.set_index(['datetime'])

In [299]:
#creating new subsets for our hours
hour1 = paris.between_time('00:00', '00:59')
hour2 = paris.between_time('01:00', '01:59')
hour3 = paris.between_time('02:00', '02:59')
hour4 = paris.between_time('03:00', '03:59')
hour5 = paris.between_time('04:00', '04:59')
hour6 = paris.between_time('05:00', '05:59')
hour7 = paris.between_time('06:00', '06:59')
hour8 = paris.between_time('07:00', '07:59')
hour9 = paris.between_time('08:00', '08:59')
hour10 = paris.between_time('09:00', '09:59')
hour11 = paris.between_time('10:00', '10:59')
hour12 = paris.between_time('11:00', '11:59')
hour13 = paris.between_time('12:00', '12:59')
hour14 = paris.between_time('13:00', '13:59')
hour15 = paris.between_time('14:00', '14:59')
hour16 = paris.between_time('15:00', '15:59')
hour17 = paris.between_time('16:00', '16:59')
hour18 = paris.between_time('17:00', '17:59')
hour19 = paris.between_time('18:00', '18:59')
hour20 = paris.between_time('19:00', '19:59')
hour21 = paris.between_time('20:00', '20:59')
hour22 = paris.between_time('21:00', '21:59')
hour23 = paris.between_time('22:00', '22:59')
hour24 = paris.between_time('23:00', '23:59')

In [335]:
hours = (hour1,hour2,hour3,hour4,hour5,hour6,hour7,hour8,hour9,hour10,hour11,hour12,hour13,hour14,hour15,hour16,hour17,hour18,hour19,hour20,hour21,hour22,hour23,hour24)