<a href="https://colab.research.google.com/github/Mumo-vicky/BlueCar-Company/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_07_Vicky_Mutua_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Analysis**

**Importing the libraries**

In [347]:
#importing the pandas and numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

**Loading the dataset**

In [ ]:
#loading our file to our environment
#changing the column names to lowercase
df = pd.read_csv('Autolib_dataset (2).csv')
df.columns = map(str.lower, df.columns)
df

**Cleaning The dataset**

In [123]:
#checking the types of data in our columns
df.dtypes

address                object
cars                    int64
bluecar counter         int64
utilib counter          int64
utilib 1.4 counter      int64
charge slots            int64
charging status        object
city                   object
displayed comment      object
id                     object
kind                   object
geo point              object
postal code             int64
public name            object
rental status          object
scheduled at           object
slots                   int64
station type           object
status                 object
subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [131]:
#chacking for null values in our dataset
df.isnull().sum()

address                   0
bluecar counter           0
utilib counter            0
utilib 1.4 counter        0
charge slots              0
charging status           0
city                      0
id                        0
kind                      0
postal code               0
public name               0
rental status             0
scheduled at           4953
slots                     0
station type              0
status                    0
subscription status       0
datetime                  0
dtype: int64

In [245]:
#checking for duplicates in our data
df.duplicated().sum()

0

In [124]:
#changing the datatypes for different columns for use
#creating a new datetime column for comparison of time
#converting the datetime column to datetime datatype
#dropping the columns we don't require for our analysis
#changing the values for the city column to lowercase characters
df = df.astype({'year': 'str'})
df = df.astype({'month': 'str'})
df = df.astype({'day': 'str'})
df = df.astype({'hour': 'str'})
df = df.astype({'minute': 'str'})
df['datetime'] = df.year + "-" + df.month + "-" + df.day + "-" + df.hour + "-" + df.minute
df['datetime'] = pd.to_datetime(df['datetime'], format="%Y-%m-%d-%H-%M")
df = df.drop(['year','month','day','hour','minute','geo point','displayed comment','cars'], axis = 1)
df["city"] = df["city"].str.lower()
df

                                 address  ...            datetime
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 18 columns]

**Creating a new dataframe for paris city**

In [420]:
#declaring the dataframe's source
#sorting the values in datetime descending order and creating a new index for the dataframe
paris = df.loc[df['city']=='paris']
paris = paris.sort_values(by=['datetime']).reset_index()
paris = paris.drop(['index'],axis=1)
paris

                                  address  ...            datetime
0        112 Rue Monge BÃ¢timent Lieu-dit  ... 2018-04-01 00:00:00
1                19 place de la Madeleine  ... 2018-04-01 00:02:00
2               44 rue SÃ©bastien Mercier  ... 2018-04-01 00:02:00
3                         2 Avenue Mozart  ... 2018-04-01 00:03:00
4                2 rue Neuve Saint-Pierre  ... 2018-04-01 00:04:00
...                                   ...  ...                 ...
2811                   19 rue BrÃ©montier  ... 2018-04-09 23:42:00
2812                       11 rue Gerbert  ... 2018-04-09 23:48:00
2813                    82 rue de CrimÃ©e  ... 2018-04-09 23:56:00
2814    31 Bis Rue du Faubourg Montmartre  ... 2018-04-09 23:58:00
2815  21 bis rue Notre-Dame des Victoires  ... 2018-04-09 23:58:00

[2816 rows x 18 columns]

In [425]:
#setting the time as the index
paris = paris.set_index(['times'])

In [455]:
paris

                                      address  ...            datetime
times                                          ...
00:00:00     112 Rue Monge BÃ¢timent Lieu-dit  ... 2018-04-01 00:00:00
00:02:00             19 place de la Madeleine  ... 2018-04-01 00:02:00
00:02:00            44 rue SÃ©bastien Mercier  ... 2018-04-01 00:02:00
00:03:00                      2 Avenue Mozart  ... 2018-04-01 00:03:00
00:04:00             2 rue Neuve Saint-Pierre  ... 2018-04-01 00:04:00
...                                       ...  ...                 ...
23:42:00                   19 rue BrÃ©montier  ... 2018-04-09 23:42:00
23:48:00                       11 rue Gerbert  ... 2018-04-09 23:48:00
23:56:00                    82 rue de CrimÃ©e  ... 2018-04-09 23:56:00
23:58:00    31 Bis Rue du Faubourg Montmartre  ... 2018-04-09 23:58:00
23:58:00  21 bis rue Notre-Dame des Victoires  ... 2018-04-09 23:58:00

[2816 rows x 18 columns]

In [454]:
#dividing the data into hours to see the activity.
hours = paris.resample('H').count()
hours

          address  bluecar counter  ...  subscription status  datetime
times                               ...
00:00:00      110              110  ...                  110       110
01:00:00      105              105  ...                  105       105
02:00:00      123              123  ...                  123       123
03:00:00      125              125  ...                  125       125
04:00:00      112              112  ...                  112       112
05:00:00      117              117  ...                  117       117
06:00:00      124              124  ...                  124       124
07:00:00      121              121  ...                  121       121
08:00:00      128              128  ...                  128       128
09:00:00      122              122  ...                  122       122
10:00:00      121              121  ...                  121       121
11:00:00      107              107  ...                  107       107
12:00:00      120              120  ...                  120       120
13:00:00      114              114  ...                  114       114
14:00:00      107              107  ...                  107       107
15:00:00      111              111  ...                  111       111
16:00:00      128              128  ...                  128       128
17:00:00      116              116  ...                  116       116
18:00:00      111              111  ...                  111       111
19:00:00      114              114  ...                  114       114
20:00:00      111              111  ...                  111       111
21:00:00      147              147  ...                  147       147
22:00:00      106              106  ...                  106       106
23:00:00      116              116  ...                  116       116

[24 rows x 18 columns]